<!DOCTYPE html>
<hmtl lang="en">
	<head>
		<meta charset="utf-8">
		<title>CMM 19</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
		<link rel="stylesheet" type="text/css" href="assets/home.css">
		<!-- C:\Users\Max\Lab\InClassLab1 -->
	</head>
	<body>
		<header>
			<div class="has-text-centered">
			<img src="assets/images/logo.png" width="145" height="auto">
			<nav class="navbar-tabs">
				<a href="#" class="navbar-item">WORK</a>
				<a href="#" class="navbar-item">INTERVIEW</a>
				<a href="#" class="navbar-item">LIVING</a>
				<a href="#" class="navbar-item">SOCIAL</a>
				<a href="#" class="navbar-item">TRAVEL</a>
				<a href="#" class="navbar-item">VIDEO</a>
				<a href="#" class="navbar-item">ACTIVITIES</a>
				<a href="#" class="navbar-item">MAGAZINE</a>
			</nav>
		</div>
		</header>
		<main>
			<section class="banner">
					<div class="highlight">
						<div class="columns"> 
							<div class="column highlight-item">
							<center><h1> ThinkLittle </h1></center>
							</div>
						</div>
					</div>

				<div class="thumbnail">
					<div class="columns">

						<div class="column is-paddingless thumbnail-item" style="background-image: url(assets/images/home/banner/thumbnail-1.jpg);">FIRST
						</div>

						<div class="column is-paddingless thumbnail-item" style="background-image: url(assets/images/home/banner/thumbnail-2.jpg);">SECOND
						</div>

						<div class="column is-paddingless thumbnail-item" style="background-image: url(assets/images/home/banner/thumbnail-3.jpg);">THIRD
						</div>

						<div class="column is-paddingless thumbnail-item" style="background-image: url(assets/images/home/banner/thumbnail-4.jpg);">FORTH
						</div>

					</div>
				</div>
			</section>

			<section class="section we-present">
				<div class="container">
					<div class="columns">
						<div class="column has-text-left">
							<a href="#">LASTEST</a>
						</div>
						<div class="column has-text-centered">
							WE PRESENT
						</div>
						<div class="column has-text-right">
							<a href="#">SEARCH</a>
						</div>
					</div>

				<div class="columns is-multiline">
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>
				</div>
				</div>
			</section>
		</main>
	</body>
	<!-- How To Comment Ja -->
</hmtl>