{% extends 'layout/base.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
		<main>
			<section class="banner">
					<div class="highlight">
						<div class="columns"> 
							<a class="column highlight-item" style="background-image: url({{ highlight.url }});">
							<center><h1> {{ highlight.title }} </h1></center>
							</a>
						</div>
					</div>

				<div class="thumbnail">
					<div class="columns">
						{% for item in thumbnail %}
						<div class="column is-paddingless thumbnail-item" style="background-image: url({{ item.url }});">
							{{ item.title }}
						</div>
						{% endfor %}
					</div>
				</div>
			</section>

			<section class="section we-present">
				<div class="container">
					<div class="columns">
						<div class="column has-text-left">
							<a href="#">LASTEST</a>
						</div>
						<div class="column has-text-centered">
							WE PRESENT
						</div>
						<div class="column has-text-right">
							<a href="#">SEARCH</a>
						</div>
					</div>

				<div class="columns is-multiline">
					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-3">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">MONDAY</h3>
								<h4 class="subtitle is-6">วันจันทร์ วันแห่งการลงนรก</h4>
								<p>ปกติคนที่เกิดวันจันทร์ ประจำอยู่ธาตุไม้ เกณฑ์ของดวงชะตาของคนที่เกิดวันนี้มักจะพึ่งพาญาติพี่น้องไม่ค่อยได้ แต่ในทางกลับกันมักจะเป็นที่พึ่งพาของญาติพี่น้องและคนอื่นๆ มีผู้อื่นคอยอุปภัมภ์ บางคนไม่ใช่พี่น้องของตน แต่จะเป็นคนอื่นที่รู้จักกัน ถูกชะตากัน จนได้นับถือจนเป็นพี่น้องกัน คนเกิดวันจันทร์เป็นคนพูดจาโอหัง ไม่เกรงกลัวใคร เป็นคนจองหอง มีจิตใจรอบคอบ มักที่จะคบหากับเพื่อนที่มีฐานะดีกว่าหรือสูงศักดิ์กว่า</p>
							</div>
						</div>
					</a>
				</div>
				</div>
			</section>
		</main>
{% endblock %}
